.header {
  display: flex;
  justify-content: center;
}

.main {
  width: 1024px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
}

.space_between {
  display: flex;
  justify-content: space-between;
}