.bookCard {
  margin-bottom: 24px;
}
.center {
  display: flex;
  justify-content: center;
}

.changeMeeting {
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0;
}

.changeMeeting:hover {
  opacity: 1;
}